.popup-overlay{
  
  background-color: rgba(0,0,0, 0.5);
}
.modal {
    font-size: 12px;
    background-color: #ffffff;
    width: 500px;
  }
  .modal > .header {
    width: 100%;
    /* border-bottom: 1px solid gray; */
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 97%;
    padding:10px 5px 30px 10px;
    font-size: 15px;
    border-bottom: 1px solid gray;
    border-color: #e4e4e4;
    color:#888888
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    margin-right: 20px;
    text-align: right;
    
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
 button.button {
    background: -webkit-gradient(linear, left bottom, left top, from(#3358f4), to(#1d8cf8));
    border-radius: 5px;
    color: #ffffff;
    border:none;
    width:110px;
    height: 35px;
    font-size: 14px !important;
    font-family: 'San Francisco', sans-serif !important;
  }