html,body{
    font-family: 'San Francisco', sans-serif;
    background-color: #fafafa;
  }
.contener{
    margin-top: 100px;
    margin-bottom: 20px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
}

.checkboxs{
    align-items: center;
    justify-content: center;
}

.centered{
    text-align: center;
}
